<!DOCTYPE html>
<html lang="en">
<head>
  <% if (htmlWebpackPlugin.options.sentryKey) { %>
  <script src="https://cdn.ravenjs.com/3.24.0/raven.min.js" crossorigin="anonymous"></script>
  <script>Raven.config('https://' + '<%=htmlWebpackPlugin.options.sentryKey%>' + '@sentry.io/607713').install();</script>
  <% } %>
  <meta charset="UTF-8">
</head>
<body>
  <h1>Users</h1>
  <table>
    <thead>
      <th>&nbsp;</th>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </thead>
    <tbody id="users">

    </tbody>
  </table>
</body>
</html>
